<div class="container">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    @for (item of products; track item.id){
      <div class="col">
        <div class="card h-100 border-info">
          <img src="{{item.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <p class="card-text">{{item.description}}</p>
    <a class="btn btn-primary" routerLink="{{item.id}}">Go</a>
  </div>
  </div>
</div>
}
</div>
</div>
<!-- <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100 border-info">
            <img src="../../../assets/product1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Info card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>
  </div>
<div class="col">
    <div class="card h-100 border-info">
      <img src="../../../assets/product2.png" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Info card title</h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
</div>
</div>
<div class="col">
    <div class="card h-100 border-info">
      <img src="../../../assets/product3.png" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Info card title</h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
</div>
</div>
<div class="col">
    <div class="card h-100 border-info">
      <img src="../../../assets/product4.png" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Info card title</h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
</div>
</div>
<div class="col">
    <div class="card h-100 border-info">
      <img src="../../../assets/product1.png" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Info card title</h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
</div>
</div>
<div class="col">
    <div class="card h-100 border-info">
      <img src="../../../assets/product2.png" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Info card title</h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
</div>
</div>
</div>
</div>
 -->
